<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstexample.BookMapper">
    <select id="findById" resultMap="BookResultMap">
        SELECT id    AS "book_id",
               title AS "book_title",
               isbn  AS "book_isbn"
        FROM BOOK
        WHERE id = #{id}
    </select>
    <select id="findByTitle" resultMap="BookResultMap">
        SELECT id    AS "book_id",
               title AS "book_title",
               isbn  AS "book_isbn"
        FROM BOOK
        WHERE title = #{title}
    </select>
    <insert id="insertBook" parameterType="com.example.firstexample.Book">
        INSERT INTO BOOK (id, title, isbn, library_id)
        VALUES (#{book.id}, #{book.title}, #{book.isbn.rawIsbn}, #{libraryId})
    </insert>

    <!--
    Result Map for Book

    require columns id, title, isbn
     -->
    <resultMap id="BookResultMap" type="com.example.firstexample.Book">
        <constructor>
            <idArg column="book_id" javaType="_long"/>
            <arg column="book_title" javaType="String"/>
            <arg column="book_isbn" javaType="com.example.firstexample.ISBN" resultMap="IsbnResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="IsbnResultMap" type="com.example.firstexample.ISBN">
        <constructor>
            <arg column="book_isbn" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>